@import "variables";
@import "mixins";




  .hero-bg-box {
    background-color: $primary-color;
    position: relative;
    width: 100vw;
    height: 136.05442176870747vh;

  }

  .hero-bg-image {
    background-color: $secondary-color;
    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    width: 100vw;
    height: 100vh;

  }

  .hero-border-box {
    position: absolute;
    z-index: 2;
    bottom: 135px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 2.6881720430107525vw solid $tertiary-color;

    width: 65.32258064516128vw;
    height: 60.136054421768705vh;

  }

  .hero-image {
    display: none;
    position: absolute;
    z-index: 3;
    top: 63.97849462365591vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

  }

  .hero-h1 {
    padding: 0;
    margin: 0;
  }

  .hero-h1-first {
    color: white;
    position: absolute;
    z-index: 4;
    bottom: 356px;
    //top: 129.03225806451613vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 13.440860215053762vw;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 2.720430107526881vw;

  }

  .hero-h1-second {
    color: white;
    position: absolute;
    z-index: 4;
    bottom: 500px;
    //top: 120.16129032258065vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 3.225806451612903vw;
    text-align: center;
    font-weight: lighter;
  }




@include respond(phone-land) {
////////////////////////////Überarbeten////////////////////////////////
  header {
    display: none;
  }
  .hero-border-box {
    top: 42.05729166666667vh;
    border: 20px solid $tertiary-color;

    width: 36.5234375vw;
    height: 69.53125vh;
    display: none;
  }

  .hero-h1-first {
    top: 59.84375000000001vh;
    font-size: $font-size-h1-first-tablet;
    display: none;

  }

  .hero-h1-second {
    top: 54.088541666666664vh;
    font-size: $font-size-h1-second-tablet;
    display: none;
  }
}

@include respond(phone-land) {
header {
  .hero-border-box{
    display: none;
  }
}
}


@include respond(tab-port) {
  .hero-border-box {
    top: 56.54296875vh;
    border: 20px solid $tertiary-color;

    width: 48.69791666666667vw;
    height: 52.1484375vh;

  }

  .hero-h1-first {
    top: 69.8828125vh;
    font-size: $font-size-h1-first-tablet;

  }

  .hero-h1-second {
    top: 65.56640625vh;
    font-size: $font-size-h1-second-tablet;

  }
}


@include respond(little-desktop) {

  .hero-bg-image {
    width: 100vw;
    height: 837px;
  }

  .hero-border-box {
    top: 392px;
    border: 20px solid $tertiary-color;
    width: 374px;
    height: 534px;

  }

  .hero-h1-first {
    top: 528.6px;
    font-size: $font-size-h1-first-tablet;

  }

  .hero-h1-second {
    top: 484.4px;
    font-size: $font-size-h1-second-tablet;

  }
}



