//////////////Colors/////////////////////////

$primary-color: #FFFFFF;
$secondary-color: #5B5B5B;
$tertiary-color: #E45353;
$primary-button-color: #E45353;
$primary-font-color: black;
$secondary-font-color: white;

$font-size-primary: 16px;
$font-size-secondary: 16px;
$font-size-tertiary: 16px;

$font-size-h1-first-tablet: 90px;
$font-size-h1-second-tablet: 16px;
$font-size-h1-tablet: 16px;
$font-size-h1-desktop: 16px;