//////////////Colors/////////////////////////

$primary-color: #FFFFFF;
$secondary-color: #5B5B5B;
$tertiary-color: #E45353;
$primary-button-color: #E45353;
$primary-font-color: black;
$secondary-font-color: white;