////////////Imports////////////////////
@import 'test/variables';
@import 'test/header';



body {
  background-color: palevioletred;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  display: block;
}

// HEADER START


//HEADER END


